<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sports.dao.CourseMapper">
  <resultMap id="BaseResultMap" type="com.sports.entity.Course">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="time" jdbcType="DOUBLE" property="time" />
    <result column="disease_id" jdbcType="VARCHAR" property="diseaseId" />
    <result column="equipment_id" jdbcType="VARCHAR" property="equipmentId" />
    <result column="gender_preference" jdbcType="VARCHAR" property="genderPreference" />
    <result column="suitable_age_id" jdbcType="VARCHAR" property="suitableAgeId" />
    <result column="practice_number" jdbcType="INTEGER" property="practiceNumber" />
    <result column="notice" jdbcType="VARCHAR" property="notice" />
    <result column="course_description" jdbcType="VARCHAR" property="courseDescription" />
    <result column="video_url" jdbcType="VARCHAR" property="videoUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, type, time, disease_id, equipment_id, gender_preference, suitable_age_id,
    practice_number, notice, course_description, video_url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_course
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_course
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sports.entity.Course">
    insert into t_course (id, name, type,
      time, disease_id, equipment_id,
      gender_preference, suitable_age_id, practice_number,
      notice, course_description, video_url
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
      #{time,jdbcType=DOUBLE}, #{diseaseId,jdbcType=VARCHAR}, #{equipmentId,jdbcType=VARCHAR},
      #{genderPreference,jdbcType=VARCHAR}, #{suitableAgeId,jdbcType=VARCHAR}, #{practiceNumber,jdbcType=INTEGER},
      #{notice,jdbcType=VARCHAR}, #{courseDescription,jdbcType=VARCHAR}, #{videoUrl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sports.entity.Course">
    insert into t_course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="diseaseId != null">
        disease_id,
      </if>
      <if test="equipmentId != null">
        equipment_id,
      </if>
      <if test="genderPreference != null">
        gender_preference,
      </if>
      <if test="suitableAgeId != null">
        suitable_age_id,
      </if>
      <if test="practiceNumber != null">
        practice_number,
      </if>
      <if test="notice != null">
        notice,
      </if>
      <if test="courseDescription != null">
        course_description,
      </if>
      <if test="videoUrl != null">
        video_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=DOUBLE},
      </if>
      <if test="diseaseId != null">
        #{diseaseId,jdbcType=VARCHAR},
      </if>
      <if test="equipmentId != null">
        #{equipmentId,jdbcType=VARCHAR},
      </if>
      <if test="genderPreference != null">
        #{genderPreference,jdbcType=VARCHAR},
      </if>
      <if test="suitableAgeId != null">
        #{suitableAgeId,jdbcType=VARCHAR},
      </if>
      <if test="practiceNumber != null">
        #{practiceNumber,jdbcType=INTEGER},
      </if>
      <if test="notice != null">
        #{notice,jdbcType=VARCHAR},
      </if>
      <if test="courseDescription != null">
        #{courseDescription,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null">
        #{videoUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sports.entity.Course">
    update t_course
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=DOUBLE},
      </if>
      <if test="diseaseId != null">
        disease_id = #{diseaseId,jdbcType=VARCHAR},
      </if>
      <if test="equipmentId != null">
        equipment_id = #{equipmentId,jdbcType=VARCHAR},
      </if>
      <if test="genderPreference != null">
        gender_preference = #{genderPreference,jdbcType=VARCHAR},
      </if>
      <if test="suitableAgeId != null">
        suitable_age_id = #{suitableAgeId,jdbcType=VARCHAR},
      </if>
      <if test="practiceNumber != null">
        practice_number = #{practiceNumber,jdbcType=INTEGER},
      </if>
      <if test="notice != null">
        notice = #{notice,jdbcType=VARCHAR},
      </if>
      <if test="courseDescription != null">
        course_description = #{courseDescription,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null">
        video_url = #{videoUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sports.entity.Course">
    update t_course
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      time = #{time,jdbcType=DOUBLE},
      disease_id = #{diseaseId,jdbcType=VARCHAR},
      equipment_id = #{equipmentId,jdbcType=VARCHAR},
      gender_preference = #{genderPreference,jdbcType=VARCHAR},
      suitable_age_id = #{suitableAgeId,jdbcType=VARCHAR},
      practice_number = #{practiceNumber,jdbcType=INTEGER},
      notice = #{notice,jdbcType=VARCHAR},
      course_description = #{courseDescription,jdbcType=VARCHAR},
      video_url = #{videoUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="chechCourseName" parameterType="string" resultType="int">
     select count(1) from t_course
      where name = #{courseName}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    *
    from
    t_course
  </select>

  <select id="selectByName" resultMap="BaseResultMap">
    select
    *
    from
    t_course
    where
    name like '%${courseName}%'
  </select>

  <select id="selectByType" resultMap="BaseResultMap">
    select
    *
    from
    t_course
    where
    type like '%${courseType}%'
  </select>

  <select id="getVideoUrl" resultMap="BaseResultMap">
    select

    id,video_url
    from
    t_course
    where
    id = #{id}
  </select>
</mapper>