<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sports.dao.FatigueDegreeMapper">
  <resultMap id="BaseResultMap" type="com.sports.entity.FatigueDegree">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="feel" jdbcType="VARCHAR" property="feel" />
    <result column="face" jdbcType="VARCHAR" property="face" />
    <result column="sweat" jdbcType="VARCHAR" property="sweat" />
    <result column="breathe" jdbcType="VARCHAR" property="breathe" />
    <result column="action" jdbcType="VARCHAR" property="action" />
    <result column="attention" jdbcType="VARCHAR" property="attention" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, feel, face, sweat, breathe, action, attention
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_fatigue_degree
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_fatigue_degree
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sports.entity.FatigueDegree">
    insert into t_fatigue_degree (id, name, feel, 
      face, sweat, breathe, 
      action, attention)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{feel,jdbcType=VARCHAR}, 
      #{face,jdbcType=VARCHAR}, #{sweat,jdbcType=VARCHAR}, #{breathe,jdbcType=VARCHAR}, 
      #{action,jdbcType=VARCHAR}, #{attention,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sports.entity.FatigueDegree">
    insert into t_fatigue_degree
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="feel != null">
        feel,
      </if>
      <if test="face != null">
        face,
      </if>
      <if test="sweat != null">
        sweat,
      </if>
      <if test="breathe != null">
        breathe,
      </if>
      <if test="action != null">
        action,
      </if>
      <if test="attention != null">
        attention,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="feel != null">
        #{feel,jdbcType=VARCHAR},
      </if>
      <if test="face != null">
        #{face,jdbcType=VARCHAR},
      </if>
      <if test="sweat != null">
        #{sweat,jdbcType=VARCHAR},
      </if>
      <if test="breathe != null">
        #{breathe,jdbcType=VARCHAR},
      </if>
      <if test="action != null">
        #{action,jdbcType=VARCHAR},
      </if>
      <if test="attention != null">
        #{attention,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sports.entity.FatigueDegree">
    update t_fatigue_degree
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="feel != null">
        feel = #{feel,jdbcType=VARCHAR},
      </if>
      <if test="face != null">
        face = #{face,jdbcType=VARCHAR},
      </if>
      <if test="sweat != null">
        sweat = #{sweat,jdbcType=VARCHAR},
      </if>
      <if test="breathe != null">
        breathe = #{breathe,jdbcType=VARCHAR},
      </if>
      <if test="action != null">
        action = #{action,jdbcType=VARCHAR},
      </if>
      <if test="attention != null">
        attention = #{attention,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sports.entity.FatigueDegree">
    update t_fatigue_degree
    set name = #{name,jdbcType=VARCHAR},
      feel = #{feel,jdbcType=VARCHAR},
      face = #{face,jdbcType=VARCHAR},
      sweat = #{sweat,jdbcType=VARCHAR},
      breathe = #{breathe,jdbcType=VARCHAR},
      action = #{action,jdbcType=VARCHAR},
      attention = #{attention,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectName" resultMap="BaseResultMap">
  select
  id,name
  from
  t_fatigue_degree
</select>

  <select id="checkFDname" parameterType="string" resultType="int">
      select count(1) from t_fatigue_degree
      where name = #{FDname}
</select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    *
    from
    t_fatigue_degree

  </select>

  <select id="selectByName" resultMap="BaseResultMap">
    select
    *
    from
    t_fatigue_degree
    where
    name  like '%${name}%'
  </select>
</mapper>