<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sports.dao.SubjectFeelMapper">
  <resultMap id="BaseResultMap" type="com.sports.entity.SubjectFeel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="heart_rate_up" jdbcType="INTEGER" property="heartRateUp" />
    <result column="heart_rate_down" jdbcType="INTEGER" property="heartRateDown" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, description, heart_rate_up, heart_rate_down
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_subject_feel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_subject_feel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sports.entity.SubjectFeel">
    insert into t_subject_feel (id, name, description, 
      heart_rate_up, heart_rate_down)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{heartRateUp,jdbcType=INTEGER}, #{heartRateDown,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sports.entity.SubjectFeel">
    insert into t_subject_feel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="heartRateUp != null">
        heart_rate_up,
      </if>
      <if test="heartRateDown != null">
        heart_rate_down,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="heartRateUp != null">
        #{heartRateUp,jdbcType=INTEGER},
      </if>
      <if test="heartRateDown != null">
        #{heartRateDown,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sports.entity.SubjectFeel">
    update t_subject_feel
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="heartRateUp != null">
        heart_rate_up = #{heartRateUp,jdbcType=INTEGER},
      </if>
      <if test="heartRateDown != null">
        heart_rate_down = #{heartRateDown,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sports.entity.SubjectFeel">
    update t_subject_feel
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      heart_rate_up = #{heartRateUp,jdbcType=INTEGER},
      heart_rate_down = #{heartRateDown,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>